[PATHS]
DATA_PATH = /run/dump1090-fa/
[LOCATION]
STATION_LAT = 37.7
STATION_LNG = 37.7
[LOGGING]
SENTRY_DSN =
SENTRY_ENVIRONMENT=
LOG_LEVEL = 20
[UNITS]
USE_METRIC_SYSTEM = true
[DEBUG]
USE_SAMPLE_DATA = false